name: cdk release code

on:
  workflow_call:
    inputs:
      CDK_RESOURCE_STACK_NAME:
        required: true
        type: string
      DEPLOYED_STACK_NAME:
        required: true
        type: string
      TARGET_ENVIRONMENT:
        required: true
        type: string
      VERSION:
        required: true
        type: string
      COMMIT_ID:
        required: true
        type: string
      CDK_APP_NAME:
        required: true
        type: string
      DEPLOY_CDK_CODE:
        required: true
        type: boolean
      IS_PULL_REQUEST:
        required: true
        type: boolean
      DEPLOYMENT_ENVIRONMENT:
        required: false
        type: string
      AWS_REGION:
        required: false
        type: string
        default: eu-west-2
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE:
        required: true
      CDK_PULL_IMAGE_ROLE:
        required: true

jobs:
  deploy_cdk_code:
    runs-on: ubuntu-22.04
    name: "${{ inputs.DEPLOY_CDK_CODE && 'Deploy' || 'Diff' }} cdk app ${{ inputs.CDK_APP_NAME }} stack ${{ inputs.DEPLOYED_STACK_NAME }}"
    environment: ${{ fromJSON(inputs.DEPLOYMENT_ENVIRONMENT != '' && format('"{0}"', inputs.DEPLOYMENT_ENVIRONMENT) || 'null') }}
    permissions:
      id-token: write
      contents: write

    steps:
      - name: build_artifact download
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: cdk_build_artifact

      - name: extract build_artifact
        run: |
          tar -xf artifact.tar
      - name: Get asdf version
        id: asdf-version
        run: echo "version=$(awk '!/^#/ && NF {print $1; exit}' .tool-versions.asdf)" >> "$GITHUB_OUTPUT"
      - name: Install asdf
        uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47
        with:
          asdf_version: ${{ steps.asdf-version.outputs.version }}
      - name: Cache asdf
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: |
            ~/.asdf
          key: ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}-${{ steps.asdf-version.outputs.version }}
          restore-keys: |
            ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}-${{ steps.asdf-version.outputs.version }}

      - name: Install asdf dependencies in .tool-versions
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47
        with:
          asdf_version: ${{ steps.asdf-version.outputs.version }}
        env:
          PYTHON_CONFIGURE_OPTS: --enable-shared

      - name: Configure AWS Credentials for diff or deploy
        id: connect-aws-deploy
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7
        with:
          aws-region: ${{ inputs.AWS_REGION }}
          role-to-assume: ${{ secrets.CLOUD_FORMATION_DEPLOY_ROLE }}
          role-session-name: account-resources-cdk-diff
          output-credentials: true

      - name: get existing tag
        id: get_existing_tags
        if: ${{ inputs.DEPLOY_CDK_CODE == false }}
        run: |
          if aws cloudformation describe-stacks --stack-name "$STACK_NAME" >/dev/null 2>&1; then
            VERSION_NUMBER=$(aws cloudformation describe-stacks \
              --region "${AWS_REGION}" \
              --stack-name "$STACK_NAME" \
              --query "Stacks[0].Tags[?Key=='version'].Value" \
              --output text)
            COMMIT_ID=$(aws cloudformation describe-stacks \
              --region "${AWS_REGION}" \
              --stack-name "$STACK_NAME" \
              --query "Stacks[0].Tags[?Key=='commit'].Value" \
              --output text)
          else
            echo "Initial deployment. Using unknown tag"
            VERSION_NUMBER="unknown"
            COMMIT_ID="unknown"
          fi
          {
            echo VERSION_NUMBER="${VERSION_NUMBER}"
            echo COMMIT_ID="${COMMIT_ID}" 
          } >> "$GITHUB_OUTPUT"

        env:
          STACK_NAME: "${{ inputs.DEPLOYED_STACK_NAME }}"
          COMMIT_ID: "${{ inputs.COMMIT_ID }}"
          IS_PULL_REQUEST: "${{ inputs.IS_PULL_REQUEST }}"
          AWS_REGION: "${{ inputs.AWS_REGION }}"

      - name: Fix path
        run: |
          echo "$PWD/node_modules/.bin" >> "$GITHUB_PATH"
      - name: "Run diff for cdk app ${{ inputs.CDK_APP_NAME }} stack ${{ inputs.DEPLOYED_STACK_NAME }} existing tag"
        if: ${{ inputs.DEPLOY_CDK_CODE == false }}
        run: |
          eval "$(tsx environmentSettings/setCdkConfig.ts)"
          npm run cdk-diff --workspace packages/cdk  2>&1 | tee "cdk_deploy_diff_existing_tag.log"
        shell: bash
        env:
          CDK_STACK_NAME: "${{ inputs.CDK_RESOURCE_STACK_NAME }}"
          CDK_CONFIG_DEPLOYED_STACK_NAME: "${{ inputs.DEPLOYED_STACK_NAME }}"
          AWS_REGION: "${{ inputs.AWS_REGION }}"
          CDK_APP_NAME: "${{ inputs.CDK_APP_NAME }}"
          CDK_CONFIG_isPullRequest: false
          CDK_CONFIG_environment: "${{ inputs.TARGET_ENVIRONMENT }}"
          CDK_CONFIG_commitId: "${{ steps.get_existing_tags.outputs.COMMIT_ID }}"
          CDK_CONFIG_versionNumber: "${{ steps.get_existing_tags.outputs.VERSION_NUMBER }}"
          CDK_CONFIG_accountResourcesUKStackName: "account-resources-cdk-uk"
          CDK_CONFIG_accountResourcesUSStackName: "account-resources-cdk-us"
          CDK_CONFIG_monitoringStackName: "monitoring"

      - name: "Run diff for cdk app ${{ inputs.CDK_APP_NAME }} stack ${{ inputs.DEPLOYED_STACK_NAME }} new tag"
        run: |
          eval "$(tsx environmentSettings/setCdkConfig.ts)"
          npm run cdk-diff --workspace packages/cdk 2>&1 | tee "cdk_deploy_diff_new_tag.log"
        shell: bash
        env:
          CDK_STACK_NAME: "${{ inputs.CDK_RESOURCE_STACK_NAME }}"
          CDK_CONFIG_DEPLOYED_STACK_NAME: "${{ inputs.DEPLOYED_STACK_NAME }}"
          AWS_REGION: "${{ inputs.AWS_REGION }}"
          CDK_APP_NAME: "${{ inputs.CDK_APP_NAME }}"
          CDK_CONFIG_isPullRequest: false
          CDK_CONFIG_environment: "${{ inputs.TARGET_ENVIRONMENT }}"
          CDK_CONFIG_commitId: "${{ inputs.COMMIT_ID }}"
          CDK_CONFIG_versionNumber: "${{ inputs.VERSION }}"
          CDK_CONFIG_accountResourcesUKStackName: "account-resources-cdk-uk"
          CDK_CONFIG_accountResourcesUSStackName: "account-resources-cdk-us"
          CDK_CONFIG_monitoringStackName: "monitoring"

      - name: "Run create changeset for cdk app ${{ inputs.CDK_APP_NAME }} stack ${{ inputs.DEPLOYED_STACK_NAME }} new tag"
        if: ${{ inputs.DEPLOY_CDK_CODE == true }}
        run: |
          eval "$(tsx environmentSettings/setCdkConfig.ts)"
          CDK_CHANGE_SET_NAME="${{ inputs.DEPLOYED_STACK_NAME }}-changeset-${{ inputs.VERSION }}-$(date +%s)"
          echo "CDK_CHANGE_SET_NAME=${CDK_CHANGE_SET_NAME}" >> "$GITHUB_ENV"
          npm run cdk-deploy --workspace packages/cdk 2>&1 | tee "cdk_deploy_new_tag.log"
        shell: bash
        env:
          CDK_STACK_NAME: "${{ inputs.CDK_RESOURCE_STACK_NAME }}"
          CDK_CONFIG_DEPLOYED_STACK_NAME: "${{ inputs.DEPLOYED_STACK_NAME }}"
          AWS_REGION: "${{ inputs.AWS_REGION }}"
          CDK_APP_NAME: "${{ inputs.CDK_APP_NAME }}"
          CDK_CONFIG_isPullRequest: false
          CDK_CONFIG_environment: "${{ inputs.TARGET_ENVIRONMENT }}"
          CDK_CONFIG_commitId: "${{ inputs.COMMIT_ID }}"
          CDK_CONFIG_versionNumber: "${{ inputs.VERSION }}"
          CDK_CONFIG_accountResourcesUKStackName: "account-resources-cdk-uk"
          CDK_CONFIG_accountResourcesUSStackName: "account-resources-cdk-us"
          CDK_CONFIG_monitoringStackName: "monitoring"
      - name: Header output
        if: ${{ inputs.DEPLOY_CDK_CODE == false }}
        shell: bash
        working-directory: .github/scripts
        run: ./header_output.sh
        env:
          TARGET_ENVIRONMENT: ${{ inputs.TARGET_ENVIRONMENT }}
          STACK_NAME: ${{ inputs.DEPLOYED_STACK_NAME }}
          VERSION: ${{ inputs.VERSION }}
      - name: Describe existing tag CDK Changes
        if: ${{ inputs.DEPLOY_CDK_CODE == false }}
        shell: bash
        env:
          SUMMARY: "[${{ inputs.target_environment }}] CDK Changes for existing tag ${{ inputs.DEPLOYED_STACK_NAME }}"
          STACK_NAME: ${{ inputs.DEPLOYED_STACK_NAME }}
          DIFF_FILE: ./cdk_deploy_diff_existing_tag.log
        run: ./.github/scripts/describe_cdk_changes.sh
  
      - name: Describe Full CDK Changes
        if: ${{ inputs.DEPLOY_CDK_CODE == false }}
        shell: bash
        env:
          SUMMARY: "[${{ inputs.target_environment }}] FULL CDK Changes for ${{ inputs.DEPLOYED_STACK_NAME }}"
          STACK_NAME: ${{ inputs.DEPLOYED_STACK_NAME }}
          DIFF_FILE: ./cdk_deploy_diff_new_tag.log
        run: ./.github/scripts/describe_cdk_changes.sh

      - name: Check for destructive changes
        if: ${{ inputs.DEPLOY_CDK_CODE == true }}
        shell: bash
        env:
          STACK_NAME: ${{ inputs.DEPLOYED_STACK_NAME }}
          DIFF_FILE: ./cdk_deploy_diff_new_tag.log
        run: |
          aws cloudformation describe-change-set \
            --stack-name "${STACK_NAME}" \
            --change-set-name "${CDK_CHANGE_SET_NAME}" > change_set_details.json 
          tsx scripts/checkReplacements.ts change_set_details.json

      - name: Execute change set
        if: ${{ inputs.DEPLOY_CDK_CODE == true }}
        run: |
          echo "Would run deployment"
          # aws cloudformation execute-change-set \
          #   --stack-name "${{ inputs.DEPLOYED_STACK_NAME }}" \
          #   --change-set-name ${CDK_CHANGE_SET_NAME}
      - name: Checkout gh-pages
        if: ${{ inputs.DEPLOY_CDK_CODE == true }}
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: gh-pages
          path: gh-pages

      - name: Update release tag in github pages
        if: ${{ inputs.DEPLOY_CDK_CODE == true }}
        run: |
          cd gh-pages
          NOW=$(date +'%Y-%m-%dT%H:%M:%S')
          echo "tag,release_datetime" > "_data/${TARGET_ENVIRONMENT}_${STACK_NAME}_${AWS_REGION}_latest.csv"
          echo "${VERSION},${NOW}" >> "_data/${TARGET_ENVIRONMENT}_${STACK_NAME}_${AWS_REGION}_latest.csv"
          echo "${VERSION},${NOW}" >> "_data/${TARGET_ENVIRONMENT}_${STACK_NAME}_${AWS_REGION}_deployments.csv"
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add "_data/${TARGET_ENVIRONMENT}_${STACK_NAME}_${AWS_REGION}_latest.csv"
          git add "_data/${TARGET_ENVIRONMENT}_${STACK_NAME}_${AWS_REGION}_deployments.csv"
          git commit -m "update releases for ${TARGET_ENVIRONMENT} and stack ${STACK_NAME}"
          parallel --retries 10 --delay 3 ::: "git pull --rebase && git push"
        env:
          STACK_NAME: ${{ inputs.DEPLOYED_STACK_NAME }}
          TARGET_ENVIRONMENT: ${{ inputs.TARGET_ENVIRONMENT }}
          VERSION: ${{ inputs.VERSION }}
          AWS_REGION: ${{ inputs.AWS_REGION }}
