name: deploy to environments

on:
  workflow_dispatch:

env:
  BRANCH_NAME: ${{ github.event.ref.BRANCH_NAME }}

jobs:
  quality_checks:
    uses: ./.github/workflows/quality_checks.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  package_code:
    uses: ./.github/workflows/sam_package_code.yml

  get_commit_id:
    runs-on: ubuntu-latest
    outputs:
      commit_id: ${{ steps.commit_id.outputs.commit_id }}
    steps:
      - name: Get Commit ID
        id: commit_id
        run: |
          echo "commit_id=${{ github.sha }}" >> "$GITHUB_OUTPUT"
    
  tag_release:
    needs: [quality_checks, package_code, get_commit_id]
    runs-on: ubuntu-latest
    outputs:
      version_tag: ${{ steps.output_version_tag.outputs.VERSION_TAG }}
      change_set_version: ${{ steps.output_change_set_version.outputs.CHANGE_SET_VERSION }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ env.BRANCH_NAME }}
          fetch-depth: 0
      
      - name: Install asdf
        uses: asdf-vm/actions/setup@05e0d2ed97b598bfce82fd30daf324ae0c4570e6
        with:
          asdf_branch: v0.14.1
        
      - name: Cache asdf
        uses: actions/cache@v4
        with:
          path: |
            ~/.asdf
          key: ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}
          restore-keys: |
            ${{ runner.os }}-asdf-
      
      - name: Install asdf dependencies in .tool-versions
        uses: asdf-vm/actions/install@05e0d2ed97b598bfce82fd30daf324ae0c4570e6
        with:
          asdf_branch: v0.14.1
        env:
            PYTHON_CONFIGURE_OPTS: --enable-shared
      
      - name: Install Dependencies
        run: make install
      
      - name: Set VERSION_TAG to be next tag varsion
        id: output_version_tag
        run: |
          NEXT_VERSION=$(npx semantic-release --dry-run | grep -i 'The next release version is' | sed -E 's/.* ([[:digit:].]+)$/\1/')
          tagFormat=$(node -e "const config=require('./release.config.js'); console.log(config.tagFormat)")
          if [ "${tagFormat}" = "null" ]
          then
            tagFormat="v\${version}"
          fi
          # disabling shellcheck as replace does not work
          # shellcheck disable=SC2001
          VERSION_TAG=$(echo "$tagFormat" | sed "s/\${version}/$NEXT_VERSION/")
          echo "## VERSION TAG : ${VERSION_TAG}" >> "$GITHUB_STEP_SUMMARY"
          echo "VERSION_TAG=${VERSION_TAG}" >> "$GITHUB_OUTPUT"
          echo "VERSION_TAG=${VERSION_TAG}" >> "$GITHUB_ENV"
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: tag release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx semantic-release

      - name: Get release for editing
        id: get_release
        # version 1.2.4
        uses: cardinalby/git-get-release-action@5172c3a026600b1d459b117738c605fabc9e4e44
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag: ${{ env.VERSION_TAG }}

      - name: Edit Release
        # version 1.2.0
        uses: irongut/EditRelease@ccf529ad26dddf9996e7dd0f24ca5da4ea507cc2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          id: ${{ steps.get_release.outputs.id }}
          body: |
            ## Info
            [See code diff](${{ github.event.compare }})
            [Release workflow run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})

            It was initialized by [${{ github.event.sender.login }}](${{ github.event.sender.html_url }})

      - name: Output Change Set Version
        id: output_change_set_version
        shell: bash
        run: |
          TIMESTAMP=$(date +%s)
          VERSION=$(echo ${{ env.VERSION_TAG }} | tr . -)
          echo CHANGE_SET_VERSION="$VERSION-$TIMESTAMP" >> "$GITHUB_OUTPUT"

  deploy_dev_stacks:
    needs: [get_commit_id, package_code, tag_release]
    uses: ./.github/workflows/release_all_stacks.yml
    with:
      target_environment: dev
      version: ${{ needs.tag_release.outputs.version_tag }}
      change_set_version: ${{ needs.tag_release.outputs.change_set_version }}
      execute_change_set: true
      lambda_stack_suffix: ""
      artifact_bucket_prefix: ${{needs.tag_release.outputs.version_tag}}
      version_number: ${{needs.tag_release.outputs.version_tag}}
      commit_id: ${{ needs.get_commit_id.outputs.commit_id }}
      lambda_insights_log_group_name: /aws/lambda-insights
      deploy_artillery: true
    secrets:
      cf_create_changeset_role: ${{ secrets.DEV_CLOUD_FORMATION_CREATE_CHANGESET_ROLE }}
      cf_deploy_role: ${{ secrets.DEV_CLOUD_FORMATION_DEPLOY_ROLE }}


  create_release_notes_post_dev:
    needs: [tag_release, deploy_dev_stacks]
    uses: ./.github/workflows/create_confluence_release_notes.yml
    with:
      VERSION_NUMBER: ${{ needs.tag_release.outputs.version_tag }}
      CREATE_INT_RELEASE_NOTES: true
      CREATE_INT_RC_RELEASE_NOTES: false
      CREATE_PROD_RELEASE_NOTES: true
      MARK_JIRA_RELEASED: false
    secrets:
      DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE }}      
      DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE }}      
      INT_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.INT_CLOUD_FORMATION_CHECK_VERSION_ROLE }}      
      PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE }}      

  deploy_ref_stacks:
    needs: [get_commit_id, package_code, tag_release, deploy_dev_stacks]
    uses: ./.github/workflows/release_all_stacks.yml
    with:
      target_environment: ref
      version: ${{ needs.tag_release.outputs.version_tag }}
      change_set_version: ${{ needs.tag_release.outputs.change_set_version }}
      execute_change_set: true
      lambda_stack_suffix: ""
      artifact_bucket_prefix: ${{needs.tag_release.outputs.version_tag}}
      version_number: ${{needs.tag_release.outputs.version_tag}}
      commit_id: ${{ needs.get_commit_id.outputs.commit_id }}
      lambda_insights_log_group_name: /aws/lambda-insights
      deploy_artillery: true
    secrets:
      cf_create_changeset_role: ${{ secrets.REF_CLOUD_FORMATION_CREATE_CHANGESET_ROLE }}
      cf_deploy_role: ${{ secrets.REF_CLOUD_FORMATION_DEPLOY_ROLE }}

  deploy_qa_stacks:
    needs: [get_commit_id, package_code, tag_release, deploy_dev_stacks]
    uses: ./.github/workflows/release_all_stacks.yml
    with:
      target_environment: qa
      version: ${{ needs.tag_release.outputs.version_tag }}
      change_set_version: ${{ needs.tag_release.outputs.change_set_version }}
      execute_change_set: true
      lambda_stack_suffix: ""
      artifact_bucket_prefix: ${{needs.tag_release.outputs.version_tag}}
      version_number: ${{needs.tag_release.outputs.version_tag}}
      commit_id: ${{ needs.get_commit_id.outputs.commit_id }}
      lambda_insights_log_group_name: /aws/lambda-insights
      deploy_artillery: false
    secrets:
      cf_create_changeset_role: ${{ secrets.QA_CLOUD_FORMATION_CREATE_CHANGESET_ROLE }}
      cf_deploy_role: ${{ secrets.QA_CLOUD_FORMATION_DEPLOY_ROLE }}
      
  create_release_notes_pre_int:
    needs: [tag_release, deploy_qa_stacks]
    uses: ./.github/workflows/create_confluence_release_notes.yml
    with:
      VERSION_NUMBER: ${{ needs.tag_release.outputs.version_tag }}
      CREATE_INT_RELEASE_NOTES: false
      CREATE_INT_RC_RELEASE_NOTES: true
      CREATE_PROD_RELEASE_NOTES: false
      MARK_JIRA_RELEASED: false
      TARGET_ENVIRONMENT: int-ci
    secrets:
      DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE }}      
      DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE }}      
      INT_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.INT_CLOUD_FORMATION_CHECK_VERSION_ROLE }}      
      PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE }}      

  deploy_int_stacks:
    needs: [get_commit_id, package_code, tag_release, create_release_notes_pre_int]
    uses: ./.github/workflows/release_all_stacks.yml
    with:
      target_environment: int
      version: ${{ needs.tag_release.outputs.version_tag }}
      change_set_version: ${{ needs.tag_release.outputs.change_set_version }}
      execute_change_set: true
      lambda_stack_suffix: ""
      artifact_bucket_prefix: ${{needs.tag_release.outputs.version_tag}}
      version_number: ${{needs.tag_release.outputs.version_tag}}
      commit_id: ${{ needs.get_commit_id.outputs.commit_id }}
      lambda_insights_log_group_name: /aws/lambda-insights
      deploy_artillery: false
    secrets:
      cf_create_changeset_role: ${{ secrets.INT_CLOUD_FORMATION_CREATE_CHANGESET_ROLE }}
      cf_deploy_role: ${{ secrets.INT_CLOUD_FORMATION_DEPLOY_ROLE }}
      
  create_release_notes_post_int:
    needs: [tag_release, deploy_int_stacks]
    uses: ./.github/workflows/create_confluence_release_notes.yml
    with:
      VERSION_NUMBER: ${{ needs.tag_release.outputs.version_tag }}
      CREATE_INT_RELEASE_NOTES: true
      CREATE_INT_RC_RELEASE_NOTES: false
      CREATE_PROD_RELEASE_NOTES: false
      MARK_JIRA_RELEASED: false
    secrets:
      DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE }}      
      DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE }}      
      INT_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.INT_CLOUD_FORMATION_CHECK_VERSION_ROLE }}      
      PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE }}

  deploy_prod_stacks:
    needs: [get_commit_id, package_code, tag_release, deploy_int_stacks]
    uses: ./.github/workflows/release_all_stacks.yml
    with:
      target_environment: prod
      version: ${{ needs.tag_release.outputs.version_tag }}
      change_set_version: ${{ needs.tag_release.outputs.change_set_version }}
      execute_change_set: true
      lambda_stack_suffix: ""
      artifact_bucket_prefix: ${{needs.tag_release.outputs.version_tag}}
      version_number: ${{needs.tag_release.outputs.version_tag}}
      commit_id: ${{ needs.get_commit_id.outputs.commit_id }}
      lambda_insights_log_group_name: /aws/lambda-insights
      deploy_artillery: false
    secrets:
      cf_create_changeset_role: ${{ secrets.PROD_CLOUD_FORMATION_CREATE_CHANGESET_ROLE }}
      cf_deploy_role: ${{ secrets.PROD_CLOUD_FORMATION_DEPLOY_ROLE }}

  create_release_notes_post_prod:
    needs: [tag_release, deploy_prod_stacks]
    uses: ./.github/workflows/create_confluence_release_notes.yml
    with:
      VERSION_NUMBER: ${{ needs.tag_release.outputs.version_tag }}
      CREATE_INT_RELEASE_NOTES: false
      CREATE_INT_RC_RELEASE_NOTES: false
      CREATE_PROD_RELEASE_NOTES: true
      MARK_JIRA_RELEASED: true
    secrets:
      DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE }}      
      DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE }}      
      INT_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.INT_CLOUD_FORMATION_CHECK_VERSION_ROLE }}      
      PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE }}      
