name: release_all_stacks

# ***************************************************
# If you add a new stack for release, 
# then you either need to manually deploy empty stack to int and prod
# Or fix cloudformation.yml so that it works correctly for new stacks
# ***************************************************

on:
    workflow_call:
      inputs:
        target_environment:
          required: true
          type: string
        version:
          required: true
          type: string
        change_set_version:
          required: true
          type: string
        execute_change_set:
          required: true
          type: boolean
        lambda_stack_suffix:
          required: true
          type: string
        artifact_bucket_prefix:
          required: true
          type: string
        version_number:
          required: true
          type: string
        commit_id:
          required: true
          type: string
        lambda_insights_log_group_name:
          required: true
          type: string
        deploy_artillery:
          required: true
          type: boolean
        deploy_drift_detection:
          required: true
          type: boolean
        is_pull_request:
          required: true
          type: boolean
      secrets:
        cf_create_changeset_role:
          required: false
        cf_deploy_role:
          required: false
        CDK_PULL_IMAGE_ROLE:
          required: true

env:
  BRANCH_NAME: ${{ github.event.pull_request.head.ref }}

jobs:
  list_ci_resources_cf_changes:
    uses: ./.github/workflows/cloudformation.yml
    with:
      env: ${{ inputs.target_environment }}
      target_environment: ${{ inputs.target_environment }}-ci
      version: ${{ inputs.version }}
      change_set_version: ${{ inputs.change_set_version }}
      stack_name: ci-resources
      template: ./cloudformation/ci_resources.yml
      capabilities: CAPABILITY_IAM
      execute_change_set: ${{ inputs.execute_change_set }}
    secrets:
      parameter_secrets: "{}"
      cf_create_changeset_role: ${{ secrets.cf_create_changeset_role }}
      cf_deploy_role: ${{ secrets.cf_deploy_role }}
  
  list_account_resources_cf_changes:
    uses: ./.github/workflows/cloudformation.yml
    with:
      env: ${{ inputs.target_environment }}
      target_environment: ${{inputs.target_environment}}-account
      version: ${{ inputs.version }}
      change_set_version: ${{ inputs.change_set_version }}
      stack_name: account-resources
      template: ./cloudformation/account_resources.yml
      capabilities: CAPABILITY_NAMED_IAM
      execute_change_set: ${{ inputs.execute_change_set }}
    secrets:
      parameter_secrets: "{}"
      cf_create_changeset_role: ${{ secrets.cf_create_changeset_role }}
      cf_deploy_role: ${{ secrets.cf_deploy_role }}
  
  list_secrets_resources_cf_changes:
    uses: ./.github/workflows/cloudformation.yml
    with:
      env: ${{ inputs.target_environment }}
      target_environment: ${{inputs.target_environment}}-account
      version: ${{ inputs.version }}
      change_set_version: ${{ inputs.change_set_version }}
      stack_name: secrets
      template: ./cloudformation/secrets.yml
      capabilities: CAPABILITY_NAMED_IAM
      execute_change_set: ${{ inputs.execute_change_set }}
    secrets:
      parameter_secrets: "{}"
      cf_create_changeset_role: ${{ secrets.cf_create_changeset_role }}
      cf_deploy_role: ${{ secrets.cf_deploy_role }}

  list_artillery_resources_cf_changes:
    if: ${{ inputs.deploy_artillery == true }}
    uses: ./.github/workflows/cloudformation.yml
    with:
      env: ${{ inputs.target_environment }}
      target_environment: ${{inputs.target_environment}}-account
      version: ${{ inputs.version }}
      change_set_version: ${{ inputs.change_set_version }}
      stack_name: artillery-resources
      template: ./cloudformation/artillery_resources.yml
      capabilities: CAPABILITY_NAMED_IAM
      execute_change_set: ${{ inputs.execute_change_set }}
    secrets:
      parameter_secrets: "{}"
      cf_create_changeset_role: ${{ secrets.cf_create_changeset_role }}
      cf_deploy_role: ${{ secrets.cf_deploy_role }}

  cdk_diff_monitoring:
    uses: ./.github/workflows/cdk_release_code.yml
    with:
      STACK_NAME: Monitoring
      TARGET_ENVIRONMENT: ${{inputs.target_environment}}-account
      VERSION: ${{ inputs.version }}
      COMMIT_ID: ${{ inputs.commit_id }}
      CDK_APP_NAME: AccountResources
      DEPLOY_CDK_CODE: false
      IS_PULL_REQUEST: ${{ inputs.is_pull_request }}
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.cf_create_changeset_role }} # use create changeset role as we are just doing a diff
      CDK_PULL_IMAGE_ROLE: ${{ secrets.CDK_PULL_IMAGE_ROLE }}

  cdk_diff_account_resources_US:
    uses: ./.github/workflows/cdk_release_code.yml
    with:
      STACK_NAME: AccountResources_US
      TARGET_ENVIRONMENT: ${{inputs.target_environment}}-account
      VERSION: ${{ inputs.version }}
      COMMIT_ID: ${{ inputs.commit_id }}
      CDK_APP_NAME: AccountResources
      DEPLOY_CDK_CODE: false
      IS_PULL_REQUEST: ${{ inputs.is_pull_request }}
      AWS_REGION: us-east-1
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.cf_create_changeset_role }} # use create changeset role as we are just doing a diff
      CDK_PULL_IMAGE_ROLE: ${{ secrets.CDK_PULL_IMAGE_ROLE }}

  cdk_diff_account_resources_UK:
    uses: ./.github/workflows/cdk_release_code.yml
    with:
      STACK_NAME: AccountResources_UK
      TARGET_ENVIRONMENT: ${{inputs.target_environment}}-account
      VERSION: ${{ inputs.version }}
      COMMIT_ID: ${{ inputs.commit_id }}
      CDK_APP_NAME: AccountResources
      DEPLOY_CDK_CODE: false
      IS_PULL_REQUEST: ${{ inputs.is_pull_request }}
      AWS_REGION: eu-west-2
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.cf_create_changeset_role }} # use create changeset role as we are just doing a diff
      CDK_PULL_IMAGE_ROLE: ${{ secrets.CDK_PULL_IMAGE_ROLE }}

  cdk_deploy_monitoring:
    uses: ./.github/workflows/cdk_release_code.yml
    if: ${{ inputs.execute_change_set == true }}
    needs: cdk_diff_monitoring
    with:
      STACK_NAME: Monitoring
      TARGET_ENVIRONMENT: ${{inputs.target_environment}}-account
      VERSION: ${{ inputs.version }}
      COMMIT_ID: ${{ inputs.commit_id }}
      CDK_APP_NAME: AccountResources
      DEPLOY_CDK_CODE: true
      IS_PULL_REQUEST: ${{ inputs.is_pull_request }}
      DEPLOYMENT_ENVIRONMENT: ${{ inputs.target_environment }}-account
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.cf_deploy_role }}
      CDK_PULL_IMAGE_ROLE: ${{ secrets.CDK_PULL_IMAGE_ROLE }}

  cdk_deploy_account_resources_US:
    uses: ./.github/workflows/cdk_release_code.yml
    if: ${{ inputs.execute_change_set == true }}
    needs: cdk_diff_account_resources_US
    with:
      STACK_NAME: AccountResources_US
      TARGET_ENVIRONMENT: ${{inputs.target_environment}}-account
      VERSION: ${{ inputs.version }}
      COMMIT_ID: ${{ inputs.commit_id }}
      CDK_APP_NAME: AccountResources
      DEPLOY_CDK_CODE: true
      IS_PULL_REQUEST: ${{ inputs.is_pull_request }}
      DEPLOYMENT_ENVIRONMENT: ${{ inputs.target_environment }}-account
      AWS_REGION: us-east-1
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.cf_deploy_role }}
      CDK_PULL_IMAGE_ROLE: ${{ secrets.CDK_PULL_IMAGE_ROLE }}

  cdk_deploy_account_resources_UK:
    uses: ./.github/workflows/cdk_release_code.yml
    if: ${{ inputs.execute_change_set == true }}
    needs: cdk_diff_account_resources_UK
    with:
      STACK_NAME: AccountResources_UK
      TARGET_ENVIRONMENT: ${{inputs.target_environment}}-account
      VERSION: ${{ inputs.version }}
      COMMIT_ID: ${{ inputs.commit_id }}
      CDK_APP_NAME: AccountResources
      DEPLOY_CDK_CODE: true
      IS_PULL_REQUEST: ${{ inputs.is_pull_request }}
      DEPLOYMENT_ENVIRONMENT: ${{ inputs.target_environment }}-account
      AWS_REGION: eu-west-2
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.cf_deploy_role }}
      CDK_PULL_IMAGE_ROLE: ${{ secrets.CDK_PULL_IMAGE_ROLE }}

# ***************************************************
# If you add a new stack for release, 
# then you either need to manually deploy empty stack to int and prod
# Or fix cloudformation.yml so that it works correctly for new stacks
# ***************************************************

  release_lambda_resources:
    uses: ./.github/workflows/sam_release_code.yml
    with:
      env: ${{ inputs.target_environment }}
      STACK_NAME: lambda-resources${{ inputs.lambda_stack_suffix }}
      ARTIFACT_BUCKET_PREFIX: ${{ inputs.artifact_bucket_prefix }}
      TARGET_ENVIRONMENT: ${{inputs.target_environment}}-lambda
      BUILD_ARTIFACT: packaged_code
      VERSION_NUMBER: ${{ inputs.version_number }}
      COMMIT_ID: ${{ inputs.commit_id }}
      LOG_LEVEL: DEBUG
      LOG_RETENTION_DAYS: 30
      dynamic_vars: '{"CommitId": "${{ inputs.commit_id }}", "VersionNumber": "${{ inputs.version_number }}", "lambda_insights_log_group_name": "${{ inputs.lambda_insights_log_group_name }}", "deploy_drift_detection": "${{ inputs.deploy_drift_detection }}"}'
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.cf_deploy_role }}
      parameter_secrets: "{}"
